{service, [
        {name, gcm},
        {mod, sc_push_svc_gcm},
        {description, "Google Cloud Messaging Service"}
    ]}.

{sessions, [
        [
            {name, 'gcm-com.example.MyApp'},
            {config, [
                    {api_key, <<"AIzffffffffffffffffffffffffffffffffff3w">>},
                    {ssl_opts, [{verify, verify_none}]},
                    {uri, "https://gcm-http.googleapis.com/gcm/send"},
                    {max_attempts, 5},
                    {retry_interval, 1},
                    {max_req_ttl, 600}
                ]}
        ]
    ]}.

{registration_id, "APAfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffxQ"}.

