{gcm_sim_node, scpf_gcm_sim}.
{gcm_sim_config, [
                  {debug, true},
                  {wm_tracer_node, 'wmtracer'},

                  %% These options are documented in mochiweb_socket_server (!!)
                  %% and apparently are mostly not used by webmachine. Except dispatch.
                  {wm_config, [
                               {ip, "0.0.0.0"},
                               {port, 5228},
                               {log_dir, ""}, % Will be changed by test suite to ct's priv_dir
                               {dispatch, [
                                           {["gcm", "send"], gcm_sim_resource, []}
                                          ]}
                              ]}]
                  }.

{gcm_erl, [
           {service, [
                      {name, gcm},
                      {mod, sc_push_svc_gcm},
                      {description, "Google Cloud Messaging Service"}
                     ]
           },

           {sessions, [
                       [
                        {name, 'gcm-com.example.FakeApp--DEV'},
                        {config, [
                                  {api_key, <<"***************************************">>},
                                  {ssl_opts, [{verify, verify_none}]},
                                  {uri, "http://localhost:5228/gcm/send"},
                                  {max_attempts, 5},
                                  {retry_interval, 1},
                                  {max_req_ttl, 600}
                                 ]}
                       ]
                      ]
           }
          ]
}.

{gcm_erl_bad_config,
 [
  {name, 'gcm-com.example.BadConfig'},
  {config, [
            %% Required parameter, should be api_key.
            {api_kkey, <<"***************************************">>},
            {ssl_opts, []}
           ]}
 ]}.

{registration_id, "APAffffffffffxQ"}.

